@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard Regular';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local('Pretendard Regular'), url('../fonts/Pretendard-Regular.woff2') format('woff2-variations');
}

@font-face {
  font-family: "Fira Code", monospace;
  font-weight: 400;
  font-style: normal;
  src: local('Fira Code Regular'), url('../fonts/FIRACODE-MEDIUM.TTF') format("truetype");
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  overflow-y: auto;
}

body {
  height: 100vh;
  /* word-break: break-all; */
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(212 212 212);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background: #ff9090;
}

body .syntaxhighlighter code,
body .syntaxhighlighter .gutter {
  font-size: 0.85rem !important;
  font-family: 'Fira Code' !important;
}